{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoescuela Uribe-Costa</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    
    <nav class="navbar container">
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            {% if request.session.aprobado %}
            <li>
                <a href="{% url 'disponibilidad' %}">Disponibilidad</a>
            </li>
            <li>
                <a href="{% url 'fecha_aprob' %}">Fecha Aprobado Teorico</a>
            </li>
            <li>
                <a href="{% url 'practico_aprobado' %}">Fecha Aprobado Practico</a>
            </li>
            {% elif request.session.instructor %}
            <li>
                <a href="{% url 'horario_instructor' %}">Horario Instructor</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'fecha_aprob' %}">Fecha Aprobado Teorico</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signin' %}">Signin</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
            {% endif %}

        </ul>    
    </nav>


    {% block content %}
    {% endblock %}

</body>
</html>